<!--First button-->
<div class="svg-wrapper">
  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
    <rect id="shape" height="40" width="150" />
    <div id="text">
      <a ng-click='set(3)'><span class="spot"></span>Number System</a>
    </div>
  </svg>
</div>
<!--Next button -->
<div class="svg-wrapper">
  <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
    <rect id="shape" height="40" width="150" />
    <div id="text">
      <a ng-click='set(2)'><span class="spot"></span>Youtube to Mp3</a>
    </div>
  </svg>
</div>
<!--End button -->