<div class="inline-div">
    <textarea cols="50" rows="15" class="inline-txtarea" ng-model='number' placeholder="Enter Number"></textarea>
</div>
<div class="inline-div1">
	<input type="text" style="width: 30px; height:30px; text-align:center;" ng-model='base' value="2">&nbsp;&nbsp;
	<button class='btn' ng-click='numberconv(number,base)'>Convert</button><br><br>
</div>
<div class="inline-div2">
    <textarea cols="50" rows="15" class="inline-txtarea" placeholder="Answer">{{answer}}</textarea>
</div>
